In [8]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [3]:
df = pd.read_csv('data/tokenized_clean.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)
df.replace(to_replace=r"\[|\]|\' ", value='', inplace=True, regex=True)
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,our deeds are the reason of this may allah fo...,1
1,4,NaN,NaN,forest fire near la ronge sask canada,1
2,5,NaN,NaN,all residents asked to shelter in place are be...,1
3,6,NaN,NaN,people receive evacuation orders in california,1
4,7,NaN,NaN,just got sent this photo from ruby as smoke f...,1

In [10]:
analyzer = SentimentIntensityAnalyzer()
df['polar'] = [analyzer.polarity_scores(i)['compound'] for i in df['text']]
df.head()

,id,keyword,location,text,target,polar
0,1,NaN,NaN,our deeds are the reason of this may allah fo...,1,0.2732
1,4,NaN,NaN,forest fire near la ronge sask canada,1,-0.3400
2,5,NaN,NaN,all residents asked to shelter in place are be...,1,-0.2960
3,6,NaN,NaN,people receive evacuation orders in california,1,0.0000
4,7,NaN,NaN,just got sent this photo from ruby as smoke f...,1,0.0000

In [11]:
df['polar'].isnull().values.any()

False