In [31]:
import pandas as pd
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import numpy as np

In [32]:
df = pd.read_csv('data/tokenized_clean.csv')
df.drop(columns=['Unnamed: 0'], inplace=True)
df.replace(to_replace=r"\[|\]|\' ", value='', inplace=True, regex=True)
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,our deeds are the reason of this may allah fo...,1
1,4,NaN,NaN,forest fire near la ronge sask canada,1
2,5,NaN,NaN,all residents asked to shelter in place are be...,1
3,6,NaN,NaN,people receive evacuation orders in california,1
4,7,NaN,NaN,just got sent this photo from ruby as smoke f...,1

In [33]:
analyzer = SentimentIntensityAnalyzer()
df['polar'] = np.array([analyzer.polarity_scores(i)['compound'] for i in df['text']], dtype=np.float32)
df.head()

,id,keyword,location,text,target,polar
0,1,NaN,NaN,our deeds are the reason of this may allah fo...,1,0.2732
1,4,NaN,NaN,forest fire near la ronge sask canada,1,-0.3400
2,5,NaN,NaN,all residents asked to shelter in place are be...,1,-0.2960
3,6,NaN,NaN,people receive evacuation orders in california,1,0.0000
4,7,NaN,NaN,just got sent this photo from ruby as smoke f...,1,0.0000

In [76]:
df['polar'].isnull().values.any()

False

In [73]:
for i, (text, target) in enumerate(zip(df.sort_values(by='polar', ascending=False)['text'].head(10), 
df.sort_values(by='polar', ascending=False)['target'].head(10))):
    print(f'{i+1}: {target}\t{text}')

1: 0	check out want twister tickets and a vip experience to see shania click here at
i would love love love to win
2: 0	 i feel like accidents are just drawn to you but im happy youve survived all of them hope youre okay
3: 1	todayûªs storm will pass let tomorrowûªs light greet you with a kiss bask in this loving warmth let your soul return to bliss
4: 0	 we enjoyed the show today great fun the emergency non evacuation was interesting have a great run
5: 0	 we enjoyed the show today great fun the emergency non evacuation was interesting have a great run
6: 0	maaaaan i love love without tragedy by  i wish she made the whole song
7: 0	im not a drake fan but i enjoy seeing him bodybagging people great marketing lol
8: 0	 pets r like part of the family i love animals the last  pets i had i rescued breaks my heart when animals are mistreated
9: 0	  ppl got method of meditation in up ampgot deluge of divine blessing  happy n peaceful life
10: 0	free ebay sniping rt  lumbar extender back stretcher excellent condition please favorite amp share

In [74]:
for i, (text, target) in enumerate(zip(df.sort_values(by='polar')['text'].head(10), 
df.sort_values(by='polar')['target'].head(10))):
    print(f'{i+1}: {target}\t{text}')

1: 0	wreck wreck wreck wreck wreck wreck wreck wreck wreck wreck wreck wreck wreck
2: 1	 suicide bomber targets saudi mosque at least  dead  suicide bomber targets saudi mosque at least  dead
this is ridiculous
3: 1	suicide bomber kills  in saudi security site mosque  a suicide bomber killed at least  people in an attack on
4: 1	 th day since jul  nigeria suicide bomb attacks killed  people blamed boko haram la timesap
5: 1	 killed in sûªarabia mosque suicide bombing

a suicide bomber attacked a mosque in aseer southwestern saudi
6: 1	illegal alien released by obamadhs  times charged with rape amp murder of santa maria ca woman had prior offenses
7: 1	bomb crash loot riot emergency pipe bomb nuclear chemical spill gas ricin leak violence drugs cartel cocaine marijuana heroine kidnap bust
8: 1	  mr president you are the biggest terrorist and trouble maker in the world you create terrorist you sponsor terrorist
9: 0	at the lake
sees a dead fish
me poor little guy i wonder what happened
ashley idk maybe it drowned
  wtf
10: 1	bomb head explosive decisions dat produced more dead children than dead bodies trapped tween buildings on that day in september there

In [91]:
print(f"Promedio polaridad de accidentes:\t{np.mean(df.where(df['target'] == 1)['polar'])}")

Promedio polaridad de accidentes:	-0.26433834433555603

In [92]:
print(f"Promedio polaridad de no accidentes:\t{np.mean(df.where(df['target'] == 0)['polar'])}")

Promedio polaridad de no accidentes:	-0.05642913281917572

La categoría de accidentes tiene un promedio menor que el de la no accidentes. Esta métrica es válida porque los valores polares ya están normalizados.